<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<!-- <meta name="viewport" content="width=1000"> -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" href="./img/su.png" />
<title>suzuki-navi</title>
<link rel="canonical" href="https://suzuki-navi.github.io/index/">
<link rel="stylesheet" href="common.css">
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js" defer></script>
<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script> -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
<script src="common.js" defer></script>
<script>const articles_json_url="articles.json";</script>
</head>
<body>
<div id="body" style="display:none;">

<div class="search">
  <taglink v-if="query!='#tags'" v-on:tag-clicked="tagClicked" tag="#tags"></taglink>
  <input v-model="query" id="search-box" placeholder="Search articles">
</div>

<h1><a v-on:click="tagClicked" data-tag="#" href="./"><img src="img/su.png" class="profile-img"></a> <span class="title">{{title}}</span></h1>

<div id="content">
  <div v-if="articleCount && query" class="article-count">{{articleCount}}</div>
  <div v-if="query==''" class="tags">
    <p>
      <taglink v-on:tag-clicked="tagClicked" tag="#job_history"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="#certification"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="#my_open_sources"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="#mailto"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="#tags"></taglink>
      <br>
      <taglink v-on:tag-clicked="tagClicked" tag="scala" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="java" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="rust" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="php" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="javascript" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="ruby" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="c++" count-view="on"></taglink>
      <br>
      <taglink v-on:tag-clicked="tagClicked" tag="#math" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="#programming" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="#serverless" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="command" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="aws" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="gcp" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="#machine_learning" count-view="on"></taglink>
      <taglink v-on:tag-clicked="tagClicked" tag="#astronomy" count-view="on"></taglink>
    </p>
  </div>
  <div v-if="query=='#certification'">
    <h2>資格取得の履歴</h2>
    <ul>
      <li>AWS Certified SAP on AWS - Specialty (2022/10/31)</li>
      <li>AWS Certified DevOps Engineer - Professional (2022/01/10) <a href="https://qiita.com/suzuki-navi/items/07b0bda47662340efda3">合格体験記事</a></li>
      <li>AWS Certified Solutions Architect - Professional (2022/01/06) <a href="https://qiita.com/suzuki-navi/items/eeac0099cd7bdcb12847">合格体験記事</a></li>
      <li>AWS Certified Cloud Practitioner (2021/12/24) <a href="https://qiita.com/suzuki-navi/items/3dd71a4f7f1aadc442e6">合格体験記事</a></li>
      <li>AWS Certified Advanced Networking - Specialty (2021/12/24) <a href="https://qiita.com/suzuki-navi/items/94f0d4092cc113d82a2f">合格体験記事</a></li>
      <li>AWS Certified Security - Specialty (2021/12/20) <a href="https://qiita.com/suzuki-navi/items/867c7f48b1c39e179808">合格体験記事</a></li>
      <li>AWS Certified SysOps Administrator - Associate (2021/12/12) <a href="https://qiita.com/suzuki-navi/items/ebfde17bfed3eec97261">合格体験記事</a></li>
      <li>AWS Certified Data Analytics - Specialty (2021/12/05) <a href="https://qiita.com/suzuki-navi/items/936741e02a5869856ad8">合格体験記事</a></li>
      <li>Google Cloud Certified Professional Data Engineer (2021/07/29) <a href="https://qiita.com/suzuki-navi/items/51c3cd0a1a4a154fc0e5">合格体験記事</a></li>
      <li>Google Cloud Certified Professional Cloud Developer (2021/07/20) <a href="https://qiita.com/suzuki-navi/items/39b4744fb7e5dc5d0487">合格体験記事</a></li>
      <li>Google Cloud Certified Professional Cloud Architect (2021/07/09) <a href="https://qiita.com/suzuki-navi/items/9b6d21a668225d9d21e5">合格体験記事</a></li>
      <li>AWS Certified Developer - Associate (2021/07/06) <a href="https://qiita.com/suzuki-navi/items/dfb343130da83d560ce4">合格体験記事</a></li>
      <li>AWS Certified Database - Specialty (2020/10/19) <a href="https://qiita.com/suzuki-navi/items/59f8a4a94ad9a22dd569">合格体験記事</a> (2022/10/17 更新)</li>
      <li>日本ディープラーニング協会 G検定 (2020/07/04) <a href="https://qiita.com/suzuki-navi/items/fd3607f8f0e670bba887">合格体験記事</a></li>
      <li>日本統計学会 統計検定 2級 (2020/05/31) <a href="https://qiita.com/suzuki-navi/items/e353b8dfbc6e872f9f41">合格体験記事</a></li>
      <li>AWS Certified Machine Learning - Specialty (2019/11/20) <a href="https://qiita.com/suzuki-navi/items/3664bfbc102052717426">合格体験記事</a> (2022/11/14 更新)</li>
      <li>AWS Certified Big Data - Specialty (2019/10/31) <a href="https://qiita.com/suzuki-navi/items/8b2fe5a35a4439013461">合格体験記事</a></li>
      <li>AWS Certified Solutions Architect - Associate (2019/09/26)</li>
      <li>全国珠算教育連盟 珠算検定 初段 (昔)</li>
      <li>日本商工会議所 珠算検定 1級 (昔)</li>
    </ul>
    <h2>受賞の履歴</h2>
    <ul>
      <li>2022 APN ALL AWS Certifications Engineers 受賞 (2022/05)<br>
        <a href="https://aws.amazon.com/jp/blogs/psa/2022-apn-all-aws-certifications-engineers/" target="_blank">2022 APN ALL AWS Certifications Engineers の発表 | AWS JAPAN APN ブログ</a> (2022/05)</li>
      <li>日本数学オリンピック 予選通過 (昔)<br>全国で上位100名</li>
    </ul>
<!--
    <p class="image">
      <img src="certification.png">
    </p>
    <p class="image">
      <img src="toukei-kentei.png">
    </p>
-->
  </div>
  <div v-if="query=='#my_open_sources'">
    <ul>
      <li><a href="https://github.com/xsvutils/xsvutils">xsvutils</a> (2017/12)
        <p>CSVファイルやTSVファイルをCUIで扱うツール</p>
      </li>
      <li><a href="https://suzuki-navi.github.io/hoshizora_today/">星空bot</a> (2021/01)
        <p>星空bot - 星空の様子をツイートするボット</p>
      </li>
      <li><a href="https://github.com/suzuki-navi/suzuki-navi-calendar">suzuki-navi's calendar</a> (2021/02)
        <p>自分専用カレンダーコマンド</p>
      </li>
      <li><a href="https://github.com/suzuki-navi/aws-glue-job-history">aws-glue-job-history</a> (2021/02)
        <p>AWS Glue Jobの実行履歴を表示するコマンドラインツール</p>
      </li>
      <li><a href="https://github.com/suzuki-navi/j2cli5">j2cli5</a> (2021/03)
        <p>Pythonのjinja2の簡易CLI化</p>
      </li>
      <li><a href="https://suzuki-navi.github.io/suzuki-navi-converter/">suzuki-navi-converter</a> (2021/05)
        <p>自分専用の各種変換ツール</p>
      </li>
      <li><a href="https://github.com/suzuki-navi/aws-list-subnets">aws-list-subnets</a> (2022/05)
        <p>AWSのサブネット一覧と使用中IP一覧を見るコマンドラインツール</p>
      </li>
      <li><a href="https://suzuki-navi.github.io/domino/202212/">セルオートマトンによるCPU</a> (2022/12)
        <p>ブラウザ上で動くセルオートマトンでCPUを作成した記録</p>
      </li>
      <li><a href="https://suzuki-navi.github.io/analogclock/">情報量の多いアナログ時計</a> (2023/01)
        <p>ブラウザ上で動く天文時計・星座早見盤・世界時計・万年カレンダーを兼ねたアナログ時計</p>
      </li>
    </ul>
  </div>
  <div v-if="query=='#job_history'">
    <ul class="job-history">
      <li>
        ウェブアプリケーション開発、内製開発支援 (2020年～現在)
        <p>
          言語はPython, JavaScriptが多いが、ほかの言語も歓迎。<br>
          AWS環境でサーバレスな設計が多い。<br>
          <a href="https://www.beex-inc.com/case/agc_resvsite" target="_blank">3日でアプリを作った</a>こともあった。<br>
          たまにプリセールス。<br>
        </p>
      </li>
      <li>
        データ分析基盤の設計・構築、設計支援 (2019年～現在)
        <p>
          AWS環境を扱うようになった。チームのテックリード。<br>
          たまにプリセールス。<br>
          所属会社からの補助もありAWS資格をすべて取得した。→<taglink v-on:tag-clicked="tagClicked" tag="#certification"></taglink><br>
          このころにブログを始めた。
          <taglink v-on:tag-clicked="tagClicked" tag="#data_input"></taglink>
          <taglink v-on:tag-clicked="tagClicked" tag="#data_store"></taglink>
          <taglink v-on:tag-clicked="tagClicked" tag="#visualization"></taglink>
          <taglink v-on:tag-clicked="tagClicked" tag="#machine_learning"></taglink>
          などの記事があるのはこういった案件をやっているため。<br>
        </p>
      </li>
      <li>
        <div style="float:right;">
          <img src="img/search-2.png">
        </div>
        <a href="https://www.naviplus.co.jp/search/">ECサイトの検索エンジン</a> (2013年〜2019年)
        <p>
          開発運用チームでテックリードをしつつ、営業とともにプリセールス活動、導入支援をしていた。<br>
          <a href="https://www.naviplus.co.jp/search/interview_surugaya.html">主な導入事例</a><br>
          形態素解析も作った。<br>
          PHP、Java、Scala、Perlなどを書いていた。Ruby、Python、Go言語にも触れた。<br>
          仕事で開発作業ができたのは楽しかった。<br>
          プリセールスとして営業といっしょにお客さんに向き合って仕事するのも楽しかった。<br>
        </p>
      </li>
      <li>
        <div style="float:right;">
          <img src="img/hard-work2.png">
        </div>
        ウェブ制作 (社会人初期 ～ 2013年)
        <p>
          IRサイト、投資家向けサイトなどを中心に、ウェブサイト制作ディレクション、ウェブアプリ開発ディレクションをしていた。<br>
          お客さんへの提案から受注、開発・制作進行管理、納品、請求まで一貫対応のほぼ個人商店。<br>
          PHPが多かったが、自分でプログラムを書くことはまれだった。<br>
          このころに趣味でScalaを覚えてScalaがお気に入りになった。<br>
        </p>
      </li>
      <li>
        フリーランス時代 (学生時代 ～ 社会人初期)
        <p>
          ウェブアプリ開発など。<br>
          仕事しつつJava、PHPなどで遊んでいた。<br>
        </p>
      </li>
      <li>
        学生時代
        <p>
          C++、Java、PHPなどで遊んでいた。<br>
          専門は物理学だったけど卒論はJavaのおもちゃプログラムを書いた。<br>
        </p>
      </li>
    </ul>
    <p>
      ※この記述の最終更新: 2023/02
    </p>
    <p>
      お仕事はいつも募集中です。もし私に仕事のご相談をいただけるのならば、<taglink v-on:tag-clicked="tagClicked" tag="#mailto"></taglink>をご覧ください。
    </p>
  </div>
  <div v-if="query=='#mailto'">
    <p>
      私に仕事の相談をしたいという場合は、私の現在の所属会社である<a href="https://www.beex-inc.com/" target="_blank">株式会社BeeX</a>にお問い合わせください。このページを見て連絡したと伝えていただければたぶん私に繋がるんじゃないかと思います。
    </p>
    <p>
      ただし、私のブログやQiitaの記事など私個人が発信している情報は所属会社の見解ではありません。GitHubレポジトリの内容も私個人に属します。記事に誤り等ございましたら会社宛ではなく記事へのコメントなどそれぞれ適切な方法でご指摘いただければ幸いです。GitHubのコミットログを探せば私のメールアドレスも見つかります。
    </p>
    <p>
      また、逆にいっしょに仕事をしたい！仕事を探しています！勉強中です！という人もぜひお声がけください。
    </p>
    <p>
      以下は私のアカウントへのリンクです。
    </p>
    <ul>
      <li><a href="https://qiita.com/suzuki-navi" target="_blank">Qiita</a></li>
      <li><a href="https://suzuki-navi.hatenablog.com/" target="_blank">はてなブログ</a></li>
      <li><a href="https://github.com/suzuki-navi" target="_blank">GitHub</a></li>
    </ul>
  </div>
  <div v-if="query=='#tags'" class="tags">
    <h2>プログラミング言語別記事</h2>
    <p>
      <taglink v-for="tag in tags('lang')" v-on:tag-clicked="tagClicked" :tag="tag" count-view="on"></taglink>
    </p>
    <h2>ソフトウェア別記事</h2>
    <p>
      <taglink v-for="tag in tags('software')" v-on:tag-clicked="tagClicked" :tag="tag" count-view="on"></taglink>
    </p>
    <h2>Linuxコマンド別記事</h2>
    <p>
      <taglink v-for="tag in tags('command')" v-on:tag-clicked="tagClicked" :tag="tag" count-view="on"></taglink>
    </p>
    <h2>AWS - クラウド環境の記事</h2>
    <p>
      <taglink v-for="tag in tags('cloud_aws')" v-on:tag-clicked="tagClicked" :tag="tag" count-view="on"></taglink>
    </p>
    <h2>Google Cloud - クラウド環境の記事</h2>
    <p>
      <taglink v-for="tag in tags('cloud_gcp')" v-on:tag-clicked="tagClicked" :tag="tag" count-view="on"></taglink>
    </p>
    <h2>媒体別記事</h2>
    <p>
      <taglink v-for="tag in tags('media')" v-on:tag-clicked="tagClicked" :tag="tag" count-view="on"></taglink>
    </p>
    <h2>その他</h2>
    <p>
      <taglink v-for="tag in tags('other')" v-on:tag-clicked="tagClicked" :tag="tag" count-view="on"></taglink>
    </p>
    <p>
      <taglink v-for="tag in tags(null)" v-on:tag-clicked="tagClicked" :tag="tag" count-view="on"></taglink>
    </p>
  </div>
  <h2 v-if="query==''">主な記事と最近の記事</h2>
  <p v-if="tagDesc">{{tagDesc}}</p>
  <ul v-if="articles">
    <li v-for="article in articles" :style="article.liststyle" class="article">
      <a :href="article.url" target="_blank" class="article-link">{{article.title}}</a>
      <span class="article-date">{{article.date}}</span>
      <span class="article-tags">
        <taglink v-for="tag in article.tags" v-on:tag-clicked="tagClicked" :tag="tag" count-view="on"></taglink>
      </span>
    </li>
  </ul>
  <p v-if="queryImageUrl" class="image">
    <a v-if="queryImageLink" :href="queryImageLink" target="_blank"><img :src="queryImageUrl"></a>
    <img v-if="!queryImageLink" :src="queryImageUrl">
  </p>
  <p v-if="query=='raspberry_pi'" class="youtube">
    <iframe width="352" height="198" src="https://www.youtube-nocookie.com/embed/wFTvOIsHmQo?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>
  <div v-if="query=='' && articles && articles.length > 0">
    <h2>競技プログラミング</h2>
    <p class="image">
      <taglink v-on:tag-clicked="tagClicked" tag="atcoder"></taglink><br>
      <a href="https://atcoder.jp/users/suzukinavi" target="_blank"><img src="img/atcoder2.png"></a>
    </p>
  </div>
</div>
<div id="footer">
  <p v-if="query=='' && articles && articles.length > 0">
    このサイトはエンジニアである私suzuki-naviの発信情報をまとめたものです。連絡先は <taglink v-on:tag-clicked="tagClicked" tag="#mailto"></taglink> で説明しています。
  </p>
  <p v-if="query!=''">
    <a v-on:click="tagClicked" data-tag="#" href="./">トップページに戻る</a>
  </p>
</div>

</div>
</body>
</html>
