body {
  margin: 5px;
  background-color: #d8e698;
  font-family: sans-serif;
}

h1 {
  font-size: 1em;
  font-weight: normal;
}
.card h1 {
  margin: 0 0 10px 0;
  column-span: all;
}
.card h2 {
  margin: 10px 0 5px 0;
  font-size: 0.9em;
  font-weight: normal;
}
.card p {
  margin: 0;
  font-size: 0.9em;
}
.card ul {
  margin: 0;
  font-size: 0.9em;
  list-style: disc;
  padding-inline-start: 20px;
}
.card table {
  margin: 0;
}
.card table td {
  margin: 5px;
  font-size: 0.9em;
}
.card.font-small p, .card.font-small ul, .card .font-small {
  font-size: 0.7em;
}
.card .tag {
  font-size: 0.7em;
}
.card p.image {
  margin: 1em 0 1em 0;
  text-align: center;
}
.card p.youtube {
  margin: 1em 0 1em 0;
  text-align: center;
}

.grid {
}
.card {
  margin: 5px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #9a5;
}
.card-title {
  margin: auto 5px auto 5px;
  background: none;
  box-shadow: none;
}
.card-title h1 {
  border-bottom: 1px solid #9a5;
  padding-bottom: 5px;
}

@media screen and (max-width: 949px) {
  #card-tags-checkbox {
    display: none;
  }
  #card-tags-label-open-wrapper {
    float: right;
    text-align: right;
  }
  #card-tags {
    display: none;
  }
  #card-tags-checkbox:checked ~ #card-tags {
    display: block;
  }
  #card-tags-checkbox:checked ~ #card-tags-label-open {
    display: none;
  }
  #card-tags-label-close-wrapper {
    padding-bottom: 10px;
    text-align: right;
  }

  #card-github-grass p img {
    width: 100%;
  }
}
@media screen and (min-width: 950px) {
  #card-tags-wrapper {
  }
  #card-tags-checkbox {
    display: none;
  }
  #card-tags {
    display: block;
    grid-column: 2;
  }
  #card-tags-label-open {
    display: none;
  }
  #card-tags-label-close {
    display: none;
  }

  .grid {
    display: grid;
    max-width: 1300px;
    /* grid-auto-rows: 1fr; */
    grid-auto-rows: 180px;
    grid-gap: 0px;
    /* grid-template-columns: 470px 470px; */
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
  }
  .card {
    overflow: auto;
  }
  .card-size5 {
    grid-row: span 5;
  }
  .card-col2 {
    grid-column: span 2;
    column-count: 2;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: #ccc;
  }
  #card-github-grass {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#othertags-checkbox {
  display: none;
}
#othertags-checkbox:checked ~ #othertags-label {
  display: none;
}
#othertags {
  display: none;
}
#othertags-checkbox:checked ~ #othertags {
  display: inline;
}
